.style-bar {
  background-color: rgba(167, 157, 157, 0.082);
  width: 100%;
}
input,
textarea {
  width: 400px;
  margin: 5px;
  padding: 10px;
}

.order-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  height: 50px;
}

.order-main {
  max-width: 100vw;
  height: auto;
  padding: 10px;
  border: 2px solid lightgray;
  
}

.order-main input[type=text]{
  width: 50%;
}

@media screen and (min-width:600px) {
  .order-main {
    overflow: scroll;
    border: 20px solid lightgray;
    height: 520px;
  }
}
