.bar-img{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-img img{
    max-width: 120px;
}

.sidebar-li{
    
    line-height: 40px;
    top: 0;
    left: 0;
    margin: 0 auto; margin-top: 40px;
    display: grid;
    justify-content: center;
    align-items: center;

}

.sidebar-li ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.sidebar-li ul li a{
    text-decoration: none;
}

@media screen and (min-width:626px) {
    .sidebar-li ul {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}