.sideBar-style{
    width:300px;
    height: 100%;
       
}

.sidebar-li li{
 line-height: 40px;

}



a:-webkit-any-link{
    text-decoration: none;
    color:black;
}

a.active{
    color:red;
}



