.achivements{
    margin-top: 150px;
    margin-bottom: 150px;
}
.achivement-card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.achivement-card{
    width: 200px;
    height: 200px;
  
    margin-bottom: 50px;   
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: .5rem .5rem .5rem gray;
    cursor: pointer;
    transition: all 2s;
    border:2px solid rgba(100, 96, 96, 0.404);
}
.achivement-card p{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(118, 117, 122)
}
.achivement-card h1{
    padding-top: 5px;
   font-size: 2.2rem;
  font-weight: 600;
}
.react-icon{
    font-size: 3.5rem;
    /* margin-Top: -50px; */
    color:rgba(102, 158, 38, 0.877);
}

.achivement-card:hover{
    transform:scale(0.9);
}


@media screen and (max-width: 600px) {
        .achivement-card-container{
            /* flex-wrap: wrap; */
            justify-content: space-between;
        }

        .achivement-card{
           
            width: 100px;
            height: 100px;
            padding: 5px;
        }
        .achivement-card h1{
            font-size: medium;
        }
}
@media screen and (max-width: 768px) {
        .achivement-card-container{
            justify-content: space-between;
            flex-direction: column;
        }

        .achivement-card{
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 70%;
            height: 120px;
            padding: 5px;
        }
        .achivement-card:hover{
            transform: scale(1.1);
        }
        .react-icon{
            font-size: 3.0rem;
        }
        .achivement-card h1{
            font-size: 2.3rem;
        }
        .achivement-card p{
            font-size: 1.0rem;
        }
}


@media screen and (max-width: 420px) {
        .achivement-card-container{
            /* flex-wrap: wrap; */
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .achivement-card{
            width: 320px;
            height: 120px;
            padding: 5px;
        }
        .achivement-card h1{
            font-size: 1.8rem;
        }
        .achivement-card p{
            font-size: small;
        }
}