* {
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.creative-btn{
  border-radius: 10px;
  width: 100px;
  border:none;
  background-color:rgba(39, 97, 39, 0.452);
  /* padding:8px; */
  color:white;
}

.creative-btn:hover{
  background-color: rgba(32, 119, 32, 0.486);
  color:black;
}

.creative-btn1{
  border-radius: 10px;
  width: 100px;
  border:none;
  background-color:rgba(39, 97, 39, 0.452);
  padding:8px;
  color:white;
}
.creative-btn1:hover{
  background-color: rgba(32, 119, 32, 0.486);
  color:black;
}
