.clients{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .clients img {
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .clients img {
        width: 80%;
    }
}
@media screen and (max-width: 419px) {
    .clients{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right:20px;

    }    
    .clients img {
        top:0;
        left:0;
        width: 40%;
        margin:20px 0px;
        margin-right:30px;
    }
}